body {
  background-image: url("./images/poker-table-felt.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  
}

/* .card {
  background-image: url("./images/card_back.png");
  height: 310px;
  width: 220px;
  margin: 5px;
  background-size: cover;

  float: left;
} */

.card {
  border: 2px black solid;
  border-radius: 10px;
  height: 155px;
  width: 100px;
  margin: 5px;
  background-size: cover;

  float: left;
}


.player1 {
  float: left;
  width: 100%;
  position: relative;
}


.board {
  float: right;
  display: block;
  width: 100%;    
  /* clear: both; */
}