body {
  background-image: url("./images/table2.jpg");
  background-size: cover;
  
  /* background-repeat: no-repeat; */
  
}

/* .card {
  background-image: url("./images/card_back.png");
  height: 310px;
  width: 220px;
  margin: 5px;
  background-size: cover;

  float: left;
} */

.card {
  border: 2px black solid;
  border-radius: 10px;
  height: 155px;
  width: 100px;
  margin: 5px;
  background-size: cover;

  float: left;
}


.player2 {
  float: left;
  width: 80%;
  position: relative;
  margin-left: 100px;
  /* margin-bottom: 100px; */
}

.player1 {
  float: right;
  display: block;
  width: 30%;
  position: relative;
  /* text-align: center; */
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}


.board {
  /* float: right; */
  display: block;
  
  /* margin:auto; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;    
  /* clear: both; */
}
.container {
  clear: both;
  position: relative;
}

.info {
  /* float: right; */
  font-size: 5em;
  clear: both;
  border: 1px dashed black;
  height: 28%;
  width: 60%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
}