body {
  background-image: url("./images/poker-table-felt.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  
}

.card {
  /* border: 1px black solid; */
  background-image: url("./images/card_back.png");
  height: 300px;
  width: 200px;
  margin: 5px;
  background-size: cover;

  float: left;
}



.player1 .player2{
  display: block;
  clear: both;
}


.board {
  display: block;
  clear: both;
}